<%- include("partials/header"); -%>


  <section class="inner-page">
    <div class="container">
      <h5>
        <%=contactContent1%>
      </h5>
      <h5>
        <%=contactContent2%>
      </h5>
      <h5>
        <%=contactContent3%>
      </h5>
    </div>
  </section>

<%- include("partials/footer"); -%>
